*.suo
*.user
_ReSharper.*
TokenManager/bin/*
TokenManager/obj/*
TokenManager/Log/*
TokenManager/bin/*
TokenManagerCommon/bin/*
TokenManagerCommon/obj/*
TokenManagerClient/obj/*
TokenManagerClient/bin/*
TokenManagerTest/obj/*
TokenManagerTest/bin/*
.vs/*
TokenManagerTest/PublishProfiles/*.pubxml
TokenManager/Properties/launchSettings.json
TokenManager/Properties/PublishProfiles/CustomProfile.pubxml
TokenManager/web.config
TokenManager/Dump/tokenDump.dmp
