.vs/*
ApiGatewayCommon/obj/*
ApiGatewayService/bin/*
ApiGatewayService/Log/*
ApiGatewayService/obj/*
ApiGatewayService.sln.DotSettings.user
ApiGatewayCommon/bin/Release/netcoreapp2.0/ApiGatewayCommon.dll
ApiGatewayCommon/bin/Release/netcoreapp2.0/ApiGatewayCommon.deps.json
ApiGatewayCommon/bin/Release/ApiGatewayCommon.1.0.5.nupkg
ApiGatewayCommon/bin/Debug/netcoreapp2.0/ApiGatewayCommon.pdb
ApiGatewayCommon/bin/Debug/netcoreapp2.0/ApiGatewayCommon.dll
ApiGatewayCommon/bin/Debug/ApiGatewayCommon.1.0.3.nupkg
ApiGatewayCommon/bin/Debug/ApiGatewayCommon.1.0.1.nupkg
ApiGatewayCommon/bin/Debug/ApiGatewayCommon.1.0.0.nupkg
ApiGatewayCommon/bin/Release/netcoreapp2.0/ApiGatewayCommon.pdb
ApiGatewayCommon/bin/Release/ApiGatewayCommon.1.0.2.nupkg
ApiGatewayCommon/bin/Release/ApiGatewayCommon.1.0.1.nupkg
ApiGatewayCommon/bin/Release/ApiGatewayCommon.1.0.0.nupkg
ApiGatewayCommon/bin/Release/ApiGatewayCommon.1.0.4.nupkg
ApiGatewayCommon/bin/Release/ApiGatewayCommon.1.0.3.nupkg
ApiGatewayCommon/bin/Debug/netcoreapp2.0/ApiGatewayCommon.deps.json
ApiGatewayCommon/bin/Release/ApiGatewayCommon.1.0.6.nupkg
ApiGatewayService/ApiGatewayService.csproj.user
ApiGatewayService/Properties/PublishProfiles/FolderProfile.pubxml.user
ApiGatewayService/Properties/PublishProfiles/FolderProfile.pubxml
ApiGatewayService/ApiGatewayService_REMOTE_19548.csproj
ApiGatewayService/ApiGatewayService_LOCAL_19548.csproj
ApiGatewayService/ApiGatewayService_BASE_19548.csproj
ApiGatewayService/ApiGatewayService_BACKUP_19548.csproj
ApiGatewayService/Properties/launchSettings.json
ApiGatewayService/web.config
ApiGatewayCommon/bin/Debug/ApiGatewayCommon.1.0.7.nupkg
